<!DOCTYPE html>
<html>
<head>
	<title>Create a Order Problem</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'order_manager_app/css/format.css' %}">
	<style type="text/css">
	/* Universal css */

	</style>
</head>
<body>
	<div id="container">
		<div class="headerParentDivBackground">
			<!-- Header/Logo/Title/Navbar/User -->
			<div class="headerChildPosDiv">
				{% load static %}
				<div class="FL">
					<img src="{% static 'order_manager_app/img/logo.png' %}">
					<div class="cfb"></div>
				</div>

				<div>
					<h1 class="welcomeMessage">{{request.session.first_name}}</h1>
				</div>

				<!-- Navbar -->
				<div class="FR mgT2P">
					<ul class="mgT2P">
						<li><a href="/dashboard">Home</a></li>
						<li><a href="/logout">Logout</a></li>
					</ul>
					<div class="cfb"></div>
				</div>

				<div class="cfb"></div>

				<!-- Site description -->
			</div>
		</div>

		<div class="headerChildPosDiv">
			<form action="/createNew" method="POST">
				{% csrf_token %}
				<h3>Create Order Issue Follow-up</h3>

				<p>Order Number: </p>
				<input type="Number" name="ord_num" min=1>

				<p>Customer ID: </p>
				<input type="Number" name="cust_id" min=1>

				<p>Issue Type: </p>
				<input type="text" name="issueType" placeholder="i.e return, damaged, defective, etc">

				<p>Description: </p>
				<input type="text" name="description">

				<p>Priority: </p>
				<input type="Number" name="priority" placeholder="1 = low, 2 = medium, 3 = high" min=1 max=3>

				<div class="cfb"></div>

				<div class="FL">
					<a href="/dashboard" class="backLink">Back</a>
					<div class="cfb"></div>
				</div>

				<input type="submit" name="create" value="Create">
			</form>
			<div class="cfb"></div>

		</div>

		<!-- Footer -->
		<div class="footerParentDivBackground">
			<div class="headerChildPosDiv">
				<h3 class="footerSiteMapH3">Site Map</h3>
				<div class="footerSiteNav">
					<a href="/create">Create</a>
					<a href="/show_all">Review</a>
					<a href="/manage">Manage</a>
				</div>
				<div class="cfb"></div>
				<p class="footerSiteMapP">Copyright &copy2018</p>
			</div>
		</div>


	</div>
</body>
</html>