<!DOCTYPE html>
<html>
<head>
	<title>Show All</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'order_manager_app/css/format.css' %}">
</head>
<body>
	<div id="container">
		<div class="headerParentDivBackground">
			<!-- Header/Logo/Title/Navbar/User -->
			<div class="headerChildPosDiv">
				{% load static %}
				<div class="FL">
					<img src="{% static 'order_manager_app/img/logo.png' %}">
					<div class="cfb"></div>
				</div>

				<div>
					<h1 class="welcomeMessage">{{request.session.first_name}}</h1>
				</div>

				<!-- Navbar -->
				<div class="FR mgT2P">
					<ul class="mgT2P">
						<li><a href="/dashboard">Home</a></li>
						<li><a href="/logout">Logout</a></li>
					</ul>
					<div class="cfb"></div>
				</div>

				<div class="cfb"></div>

			</div>
		</div>

		<div class="cfb"></div>

		<!-- Order Issue Table -->
		<div>
			<div class="headerChildPosDiv">
				<table>
					<tbody>
						<tr class="topTableRowHeader">
							<th class="orderId">Order ID</th>
							<th class="orderId">Customer ID</th>
							<th class="createdDate">Created Date</th>
							<th class="issueDescription">Issue</th>
							<th class="issueDescription">Description</th>
							<th class="orderId">Priority</th>
							<th>Actions</th>
						</tr>
						{% for newIssue in all_issues %}
						<tr class="contentTableRow">
							<td>{{newIssue.order_number}}</td>
							<td>{{newIssue.customer_id}}</td>
							<td>{{newIssue.created_at}}</td>
							<td>{{newIssue.issue_type}}</td>
							<td>{{newIssue.description}}</td>
							<td>{{newIssue.priority}}</td>
							<td>
								<a href="/view/{{newIssue.id}}">View</a>
								<a href="/edit/{{newIssue.id}}">Edit</a>
								<a href="/manage">Delete</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="headerChildPosDiv">
				<div class="FL">
					<a href="/dashboard" class="backLink">Back</a>
					<div class="cfb"></div>
				</div>
			</div>

			<div class="headerChildPosDiv">
				<div class="reviewAllManage">
					<a href="/show_all">Review All</a>
				</div>
			</div>

		</div>

		<!-- Footer -->
		<div class="footerParentDivBackground">
			<div class="headerChildPosDiv">
				<h3 class="footerSiteMapH3">Site Map</h3>
				<div class="footerSiteNav">
					<a href="/create">Create</a>
					<a href="/show_all">Review</a>
					<a href="/manage">Manage</a>
				</div>
				<div class="cfb"></div>
				<p class="footerSiteMapP">Copyright &copy2018</p>
			</div>
		</div>


	</div>
</body>
</html>