<!DOCTYPE html>
<html>
<head>
	<title>View Details</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'order_manager_app/css/format.css' %}">
	<style type="text/css">

		h3 {padding: 10px;}

		p {
			margin-left: 10%;
			margin-bottom: 5%;
		}
	</style>
</head>
<body>
	<div id="container">
		<div class="headerParentDivBackground">
			<!-- Header/Logo/Title/Navbar/User -->
			<div class="headerChildPosDiv">
				{% load static %}
				<div class="FL mgB5P">
					<img src="{% static 'order_manager_app/img/logo.png' %}">
					<div class="cfb"></div>
				</div>

				<div>
					<h1 class="welcomeMessage">{{request.session.first_name}}</h1>
				</div>

				<!-- Navbar -->
				<div class="FR mgT2P">
					<ul class="mgT2P">
						<li><a href="/dashboard">Home</a></li>
						<li><a href="/logout">Logout</a></li>
					</ul>
					<div class="cfb"></div>
				</div>

				<div class="cfb"></div>

				<!-- Site description -->
			</div>
		</div>

		<div class="headerChildPosDiv">
			<div class="detailsParentDiv">
				<h3>Order Issue Details</h3>
				<p>Order Number: {{show.order_number}}</p>

				<p>Customer ID: {{show.customer_id}}</p>

				<p>Issue: {{show.issue_type}}</p>

				<p>Description: {{show.description}}</p>

				<p>Priority: {{show.priority}}</p>

				<div class="FL">
					<a href="/manage" class="backLink">Back</a>
					<div class="cfb"></div>
				</div>

				<div class="FR">
					<a href="/edit/{{show.id}}" class="editLink">Edit</a>
					<div class="cfb"></div>
				</div>
			</div>

			<div class="cfb"></div>

		</div>

		<!-- Footer -->
		<div class="footerParentDivBackground">
			<div class="headerChildPosDiv">
				<h3 class="footerSiteMapH3">Site Map</h3>
				<div class="footerSiteNav">
					<a href="/create">Create</a>
					<a href="/show_all">Review</a>
					<a href="/manage">Manage</a>
				</div>
				<div class="cfb"></div>
				<p class="footerSiteMapP">Copyright &copy2018</p>
			</div>
		</div>

	</div>
</body>
</html>